.menu-item {
  height: 45px;
  position: relative;

  .bar {
    width: 6px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    &.active {
      background-color: #F9A109;
    }
  }
}